/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #ffffe9;
	color: #333;
	line-height: 1.6;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

header {
	background-color: #0073e6;
	color: white;
	text-align: center;
	padding: 2rem 1rem;
	position: relative;
	overflow: hidden;
}

header::before {
	content: "";
	background: url('images/backgroud.jpg') no-repeat center center/cover;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;
	z-index: 0;
}

header h1,
header p {
	position: relative;
	z-index: 1;
	animation: slideIn 1s ease-out forwards;
}

header h1 {
	margin: 0;
	font-size: 2.5rem;
}

header p {
	margin: 0.5rem 0 0;
	font-size: 1.2rem;
}

@keyframes slideIn {
	from {
		transform: translateY(-50px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

main {
	flex: 1;
	padding: 2rem 1rem;
	padding-bottom: 10vh;
	/* Adjust this value based on the height of your footer */
}

#features {
	margin-bottom: 2rem;
	text-align: center;
}

#features h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0073e6;
    transition: color 0.5s ease, transform 0.5s ease;
}

#features h2:hover {
    color: #1B4F72;
    transform: scale(1.1);
}

.features-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: stretch;
}

.feature {
	flex: 1;
	background-color: white;
	padding: 1.5rem;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s, font-size 0.3s ease;
	width: 100%;
	max-width: 500px;
	text-align: left;
	position: relative;
	overflow: hidden;
}

.feature h3 {
	margin-top: 0;
	color: #0073e6;
}

.feature p {
	color: #555;
}

.feature:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background-color: #f0f8ff;
	font-size: 105%;
}

.note {
	font-size: 0.8rem;
	color: #777;
}

.feature::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background-color: #0073e6;
	transition: width 0.3s;
}

.feature:hover::before {
	width: 5px;
	background-color: #0073e6;
}

#contact {
	text-align: center;
}

#contact h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #0073e6;
}

#contact p {
	margin-bottom: 1rem;
}

#contact ul {
	list-style-type: none;
	padding: 0;
}

#contact ul li {
	margin-bottom: 0.5rem;
	color: #555;
}

footer {
	background-color: #D8EEF1;
	color: #515658;
	text-align: center;
	padding: 1rem 0;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

/* Responsive Design */
@media (min-width: 600px) {
	header {
		padding: 3rem 1rem;
	}

	header h1 {
		font-size: 3rem;
	}

	header p {
		font-size: 1.5rem;
	}

	main {
		padding: 2rem 2rem;
		padding-bottom: 10vh;
	}

	.features-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.feature {
		width: 45%;
		margin: 1rem;
	}

	#contact ul {
		text-align: left;
	}
}

@media (min-width: 900px) {
	main {
		padding: 2rem 5rem;
		padding-bottom: 10vh;
	}

	.feature {
		width: 30%;
	}
}

.connect-button {
	background: #007bff;
	border: none;
	color: white;
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 1rem 0;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.connect-button:hover {
	background-color: #0056b3;
}

.connect-button.disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

/* Popup styles */

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	text-align: center;
	border-radius: 10px;
	position: relative;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 20px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Animation for enabling button */
@keyframes enableButton {
	0% {
		background-color: #ccc;
		cursor: not-allowed;
	}

	99% {
		background-color: #727377;
		cursor: not-allowed;
	}

	100% {
		background-color: #28a745;
		cursor: pointer;
	}
}

/* Animation for bouncing button */
@keyframes bounce {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}
}

.connect-button.disabled {
	animation: enableButton 3s forwards, bounce 0.5s 3s infinite;
}

.connect-button {
	background: #28a745;
	border: none;
	color: white;
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 1rem 0;
	cursor: pointer;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}

.connect-button:hover {
	background-color: #058d25;
}

.popup-toggle {
	display: none;
}

.popup-toggle:checked+.popup {
	display: flex;
}



#faq {
	padding: 2rem 1rem;
}

#faq h2 {
	text-align: center;
	color: #0073e6;
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

.faq-item {
	margin-bottom: 1rem;
	border-radius: 18px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}

.faq-question {
	display: block;
	width: 100%;
	padding: 1rem;
	background-color: #0d2137;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 5px;
	text-align: left;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
	border: none;
	outline: none;
	position: relative;
}

.faq-question::after {
	content: '\25BC';
	/* Mã Unicode của mũi tên xuống */
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.3s;
}

.faq-question:hover {
	background-color: #005bb5;
	padding-left: 1.5rem;
}

.faq-answer {
	display: none;
	padding: 1rem;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-top: 0.5rem;
}

/* Use input to toggle the display of the answer */
.faq-item input[type="checkbox"] {
	display: none;
}

.faq-item input[type="checkbox"]:checked~.faq-question::after {
	transform: translateY(-50%) rotate(180deg);
	/* Xoay mũi tên 180 độ khi mục được mở */
}

.faq-item input[type="checkbox"]:checked~.faq-answer {
	display: block;
}
 
.marquee {
	width: 100%;
	overflow: hidden;
}

.text {
	display: inline-block;
	white-space: nowrap;
	padding-left: 100%;
	animation: marquee 8s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

.terms-link {
    color: #FF4500; /* Màu cam đậm để làm nổi bật liên kết */
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold; /* Chữ đậm */
}

.terms-link:hover {
    color: #FF6347; /* Màu cam sáng khi hover */
}